.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.modalContent {
  background-color: white;
  transform: translateY(100px);
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
}
.modal button {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.25rem 1rem;
}
