body {
  margin: 0;
}
.hot-keyword-wrap > ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.hot-keyword-wrap > ul > li {
  border: 1px solid;
  border-radius: 20px;
  padding: 0.3rem 2rem;
  font-family: "Pretendard";
  font-size: 14px;
}

.hot-keyword-wrap > ul > li.active {
  color: white;
  background: black;
}

/* category  */
.category-more-wrap ul {
  display: flex;
  padding: 0;
}
.category-more-wrap ul li {
  width: calc(100% / 3);
  flex: 1;
  text-align: center;
  list-style: none;
  overflow: hidden;
  transition: all 0.4s ease;
  position: relative;
}
.category-more-wrap ul li img {
  width: 100%;
  transition: transform 0.4s ease;
  height: 100%;
}
.category-more-wrap ul li:not(:hover) {
  flex-grow: 1;
}
.category-more-wrap ul li:hover img {
  transform: scale(1.1);
}

/* current trends */
.promotion-wrap {
  display: flex;
}

.trend-item {
  padding-right: 10px; /* 오른쪽에 선을 위한 여백 */
  border-right: 1px solid #000; /* 선 스타일 및 색상 지정 */
}

/* 마지막 아이템의 오른쪽 여백과 선 제거 */
.trend-item:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
