.hd {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hd img {
  width: 200px;
}

.hd nav {
  display: flex;
  gap: 1rem;

  a {
    color: white;
  }
}

.hd .active {
  color: #61dafb;
}
